################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ajinomoto.Tareas.AccesoDatos/obj
/Ajinomoto.Tareas.Entidades/obj
/Ajinomoto.Tareas.Negocio/obj
/Ajinomoto.Tareas.Presentacion/obj
/Ajinomoto.Tareas.AccesoDatos/bin/Debug
/Ajinomoto.Tareas.Entidades/bin/Debug
/Ajinomoto.Tareas.Negocio/bin/Debug
/Ajinomoto.Tareas.Presentacion/bin

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.~*
/Ajinomoto.Tareas.Presentacion/.vs
/Ajinomoto.Tareas.Web/bin/roslyn
/Ajinomoto.Tareas.Web/bin/es
/Ajinomoto.Tareas.Web/bin
/Ajinomoto.Tareas.AccesoDatos/.vs
/Ajinomoto.Tareas.Entidades/.vs
/Ajinomoto.Tareas.Negocio/.vs
/Ajinomoto.Tareas.Web/.vs
/Ajinomoto.Tareas.Web/obj/Debug
/.vs/ajinomoto.tareas/config/applicationhost.config
